.note{

        padding: 25px;
        height: 250px;
        width: 250px;
        display: flex;
        flex-direction: column;
        background-color: blueviolet;
        border-radius: 30px;
        box-shadow: 3px 3px 5px 6px #ccc;

}
.note_footer img{
    height: 25px;
    width: 25px;
    cursor: pointer; 
    /* cursor shows the finger point on img */
    opacity: 0;
}


.note_footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.note:hover .note_footer img{
    opacity: 1;
    transition: 300ms;
    
}
.note_text
{
    flex:1;
    resize: none;
    background-color: transparent;
    font-size: 1rem;
    list-style: 1.875rem;
    outline: none;
    border: none;
}

.note_title
{
    resize: none;
    background-color: transparent;
    font-size: 2em;
    list-style: 1.875rem;
    outline: none;
    border: none;
}
